* {
  margin: 0px;
  padding: 0px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.body {
  color: #000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 26px;
  background-color: #fff;
  z-index: 80;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-boxshadow: 0px 8px 20px -20px #999;
  -moz-boxshadow: 0px 8px 20px -20px #999;
  -o-boxshadow: 0px 8px 20px -20px #999;
  box-shadow: 0px 8px 20px -20px #999;
}

.logo {
  float: left;
}

.menu {
  float: right;
}

.logo img {
  height: 2.5rem;
  width: auto;
}

.hamburger-menu img {
  width: 32px;
  height: auto;
  margin-top: 2px;
}

.navbar-items {
  display: none;
}

.navbar-items ul {
  list-style: none;
}

.navbar-items ul li {
  color: #000;
  display: block;
  float: left;
  padding: 0 15px;
  line-height: 3rem;
  font-family: 'Barlow', sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
}

.navbar-items ul li a {
  text-decoration: none;
  color: #000;
}

.nav-phone-icon,
.phone-numbers {
  float: left;
}

.phone-numbers {
  line-height: 1.5rem;
  margin-left: 10px;
}

.phone-numbers p:last-child {
  font-weight: 500;
}

.nav-phone-icon img{
  height: 25px;
  width: auto;
  margin-top: 12px;
}

.banner-hero {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
}

.hero-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  background-image: url("../images/Banner.jpg");
  background-size: cover;
  background-position: center;
}

.hero-body {
  position: absolute;
  top: 50%;
  margin-top: -10rem;
  padding: 0 2.5rem;
}

.hero-body h1 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
}

.hero-body p {
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.hero-body p.sub-heading{
  color: #1569B5;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.hero-body p a img{
  height: 1.5rem;
  width: auto;
}

.section {
  padding: 4.5rem 2.5rem;
}

.section h3 {
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 1.875rem;
  color: #1569B5;
}

.section h2 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 1.7rem;
  line-height: 3rem;
  font-weight: normal;
  margin-bottom: 2rem;
}

.about-us {
  background-color:#fff;
  background-image: url("../images/about-bg-image.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: top;
  background-size: 50%;
}

.about-image {
  width: 100%;
}

.about-image img {
  width: 100%;
  height: auto;
  margin-bottom: 1.25rem;
  -webkit-boxshadow: 0px 25px 20px rgba(153,153,153,0.4);
  -moz-boxshadow: 0px 25px 20px rgba(153,153,153,0.4);
  -o-boxshadow: 0px 25px 20px rgba(153,153,153,0.4);
  box-shadow: 0px 25px 20px rgba(153,153,153,0.4);
}

.about-text {
  font-family: 'Barlow', sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  opacity: 0.8;
  font-weight: normal;
}

.about-text p {
  margin-bottom: 1.25rem;
}

.services {
  background-color: #e9f6fc;
}

.services-wrapper {
  display: block;
  max-width: 350px;
  margin: 0 auto;
}

.service {
  float: left;
  width: 100%;
  max-width: 350px;
  height: 375px;
  position: relative;
  margin-bottom: 20px;
}

.service:last-child {
  margin-bottom: 0px;
}

.service-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.service-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.service-text {
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  position: absolute;
  bottom: 35px;
  transform: translate(-50%, 0);
  left: 50%;
}

.products-wrapper {
  width: 230px;
  margin: 0 auto;
}

.product {
  float: left;
  margin-bottom: 20px;
  width: 230px;
  height: 230px;
  -webkit-boxshadow: 0px 10px 20px rgba(153,153,153,0.4);
  -moz-boxshadow: 0px 10px 20px rgba(153,153,153,0.4);
  -o-boxshadow: 0px 10px 20px rgba(153,153,153,0.4);
  box-shadow: 0px 10px 20px rgba(153,153,153,0.4);
}

.product.row-last {
  margin-right: 0px;
}

.product.last-product {
  background-color: #fff;
  text-align: center;
  position: relative;
}

.product.last-product .last-product-text {
  height: 52px;
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.product.last-product .last-product-text a {
  text-decoration: none;
  color: #1569B5;
}

.product.last-product p {
  font-family: 'Barlow', sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 26px;
}

.product-image img {
  width: 100%;
  height: 170px;
}

.product-name {
  font-family: 'Barlow', sans-serif;
  line-height: 60px;
  background-color: #fff;
  color: #000;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: -4px;
}

.product:hover {
  cursor: pointer;
}

.product:hover .product-name {
  background-image: linear-gradient(to left,#379F23,#1569B5);
  color: #fff;
}

.contact-us {
  padding: 52px 115px;
}

.contact-us .section {
  padding: 0 85px;
  background-color: #fff;
  background-image: url("../images/Contact-us-image.jpg");
  background-size: cover;
  background-position: center;
  -webkit-boxshadow: 0px 10px 20px rgba(153,153,153,0.4);
  -moz-boxshadow: 0px 10px 20px rgba(153,153,153,0.4);
  -o-boxshadow: 0px 10px 20px rgba(153,153,153,0.4);
  box-shadow: 0px 10px 20px rgba(153,153,153,0.4);
}

.contact-us .section h2 {
  margin-bottom: 2rem;
}

.contact-us .section p.contact-subheading {
  font-family: 'Barlow', sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: normal;
  display: block;
  width: 570px;
  margin: 0 auto;
}

.contact-body {
  padding: 52px 0 80px;
}

.contact-info {
  float: left;
  width: calc(50% - 20px);
}

.contact-form {
  float: right;
  width: calc(50% - 20px);
}

.contact-us .section h4 {
  font-family: 'Barlow', sans-serif;
  font-size: 1.5625rem;
  line-height: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.contact {
  margin-bottom: 30px;
}

.contact .cont-icon {
  float: left;
  width: 30px;
}

.contact .cont-icon img {
  width: 100%;
  height: auto;
}

.contact .cont-text {
  float: left;
  margin-left: 15px;
  width: calc(100% - 45px);
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  line-height: 1.375rem;
  font-weight: normal;
}

.cont-text-head,
.input-class .input-label {
  font-family: 'Barlow', sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.cont-text a {
  text-decoration: none;
  color: #000;
}

.input-class {
  width: 100%;
  margin-bottom: 30px;
}

.form-first-row .input-class {
  width: calc(50% - 15px);
  float: left;
}

.form-first-row .input-class:first-child {
  margin-right: 26px;
}

.form-input {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  padding: 0 10px;
  font-family: 'Barlow', sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  box-sizing: border-box;
  border: 1px solid #000;
  border-radius: 0;
}

textarea.form-input {
  max-height: 300px;
  min-height: 120px;
  font-family: 'Barlow', sans-serif;
  padding: 10px;
  resize: vertical;
}

.submit-btn {
  padding: 12px 30px;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  border: 1px solid #1569B5;
  color: #fff;
  border-radius: 0;
  background-color: #1569B5;
  font-size: 0.875rem;
  -webkit-boxshadow: 0px 10px 20px rgba(153,153,153,0.4);
  -moz-boxshadow: 0px 10px 20px rgba(153,153,153,0.4);
  -o-boxshadow: 0px 10px 20px rgba(153,153,153,0.4);
  box-shadow: 0px 10px 20px rgba(153,153,153,0.4);
}

.submit-btn:hover {
  cursor: pointer;
  border: 1px solid transparent;
  color: #fff;
  background-image: linear-gradient(to left,#379F23,#1569B5);
}





@media (min-width: 480px) {
  .about-image img {
    margin-bottom: 2rem;
  }
}


@media (min-width: 768px) {
  .header {
    padding: 12px 52px;
  }

  .hero-body {
    padding: 0px 115px;
  }

  .section {
    padding: 115px 115px;
  }

  .section h2 {
    margin-bottom: 3.375rem;
  }

  .about-text {
    font-size: 1.125rem;
    line-height: 1.5625rem;
  }

  .products-wrapper {
    width: 464px;
  }
  
  .product {
    margin-bottom: 20px;
    width: 222px;
  }

  .product:nth-child(odd) {
    margin-right: 20px;
  }
}


@media (min-width: 992px) {
  .navbar-items {
    display: block;
  }

  .hamburger-menu {
    display: none;
  }

  .logo img {
    height: 3.5rem;
    width: auto;
  }

  .hero-body {
    margin-top: -6rem;
  }

  .about-image {
    float: left;
    width: 400px;
    height: auto;
  }

  .about-text {
    float: left;
    padding: 40px 0 40px 70px;
    width: calc(100% - 470px);
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .about-text p {
    margin-bottom: 1.25rem;
  }

  .services-wrapper {
    max-width: 970px;
  }

  .service {
    width: calc(33.33% - 13.33px);
    height: 375px;
    margin-left: 20px;
  }
  
  .service:first-child {
    margin-left: 0px;
  }
  
}


@media (min-width: 1200px) {
  .header {
    padding: 20px 115px;
  }

  .hero-body {
    padding: 0px 200px;
  }

  .section {
    padding: 115px 200px;
  }

  .hero-body h1 {
    font-size: 3rem;
    margin-bottom: 2.5rem;
    line-height: 3.5rem;
  }

  .section h3 {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
  
  .section h2 {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }

  .about-image {
    width: 475px;
    height: auto;
  }

  .about-text {
    width: calc(100% - 575px);
    padding: 60px 0 60px 100px;
  }

  .products-wrapper {
    width: 706px;
  }
  
  .product {
    margin-bottom: 20px;
    width: 222px;
  }

  .product:nth-child(odd),
  .product:nth-child(even) {
    margin-right: 20px;
  }

  .product:nth-child(3n+3) {
    margin-right: 0px;
  }
  
}


@media (min-width: 1366px) {
  .products-wrapper {
    width: 948px;
  }
  
  .product {
    margin-bottom: 20px;
    width: 222px;
  }

  .product:nth-child(3n+3) {
    margin-right: 20px;
  }

  .product.row-last {
    margin-right: 0px;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 20px 160px;
  }

  .hero-body {
    padding: 0px 280px;
  }

  .section {
    padding: 115px 280px;
  }

  .section h3 {
    font-size: 1.375rem;
    line-height: 1.875rem;
  }
  
  .section h2 {
    font-size: 2.8125rem;
    line-height: 3.4375rem;
  }

  .about-text {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}