* {
  margin: 0px;
  padding: 0px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.body {
  color: #000;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 26px;
  background-color: #fff;
  z-index: 80;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-boxshadow: 0px 8px 20px -20px #000;
  -moz-boxshadow: 0px 8px 20px -20px #000;
  -o-boxshadow: 0px 8px 20px -20px #000;
  box-shadow: 0px 8px 20px -20px #000;
}

.logo {
  float: left;
}

.menu {
  float: right;
}

.logo img {
  height: 2.5rem;
  width: auto;
}

.hamburger-menu img {
  width: 32px;
  height: auto;
  margin-top: 2px;
}

.navbar-items {
  display: none;
}

.navbar-items ul {
  list-style: none;
}

.navbar-items ul li {
  color: #000;
  display: block;
  float: left;
  padding: 0 15px;
  line-height: 3rem;
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.navbar-items ul li a {
  text-decoration: none;
  color: #000;
}

.nav-phone-icon,
.phone-numbers {
  float: left;
}

.phone-numbers {
  line-height: 1.5rem;
  margin-left: 10px;
  /* text-align: center; */
}

.phone-numbers p:last-child {
  font-weight: 500;
}

.nav-phone-icon img{
  height: 25px;
  width: auto;
  margin-top: 12px;
}

.banner-hero {
  width: 100%;
  height: 100vh;
  display: block;
  position: relative;
}

.hero-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  background-image: url("../images/Banner.jpg");
  background-size: cover;
  background-position: center;
}

.hero-body {
  position: absolute;
  top: 50%;
  /* margin-top: -150px; */
  margin-top: -10rem;
  padding: 0 2.5rem;
}

.hero-body h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
}

.hero-body p {
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.hero-body p.sub-heading{
  opacity: 0.6;
  font-style: italic;
  margin-bottom: 1.5rem;
}

.hero-body p a img{
  height: 1.5rem;
  width: auto;
}






@media (min-width: 480px) {

}


@media (min-width: 768px) {
  .header {
    padding: 12px 52px;
  }

  .hero-body {
    padding: 0 115px;
  }
}


@media (min-width: 992px) {
  .navbar-items {
    display: block;
  }

  .hamburger-menu {
    display: none;
  }

  .logo img {
    height: 3.5rem;
    width: auto;
  }

  .hero-body {
    margin-top: -6rem;
  }
}


@media (min-width: 1200px) {
  .header {
    padding: 20px 115px;
  }

  .hero-body {
    padding: 0 200px;
  }

  .hero-body h1 {
    font-size: 3rem;
    margin-bottom: 2.5rem;
    line-height: 3.5rem;
  }
}


@media (min-width: 1440px) {
  .header {
    padding: 20px 160px;
  }
}